.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
  margin-top: 60px;
  background-color: #615d5d;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: bold;
  font-size: 1rem;
  color: #2b2a2a;
}

.input {
  width: 100%;
  padding: 8px;
  color: #2b2a2a;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #a29f9f;
  transition: border-color 0.4s;
}

.input:focus {
  outline: none;
  border-color: #8e6307;
  background-color: #fff;
}
